.game-guessWord{
    display: grid;
}
.container-guess{
    display: grid;
}
.hind-guess{
    font-weight: bold;
    margin-bottom: 10vw;
}
.input-guess{
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 2vw;
    margin-bottom: 5vw;
}
.result-guess{
    font-weight: bold;
    height: 10vw;
}
.btn-guess{
    margin: 0 auto;
    font-weight: bold; 
    padding: 10px;
    color: white;
    background-color: black;
    width: 50%;
    border-radius: 10px;
    border: black solid 1px;
}
/* เมื่อเอาเมาส์ไปวางที่ปุ่มหรือแตะที่ปุ่มบนมือถือ */
.btn-guess:hover, .btn-guess:focus {
    color: black;
    background-color: white;
}

/* เมื่อกดปุ่ม */
.btn-guess:active {
    color: black;
    background-color: white;
}

/* เมื่อปล่อยการกดหรือสัมผัส */
.btn-guess:focus:not(:active) {
    color: white;
    background-color: black;
}