:root{
    --max-content:300px;
}
@media screen and (max-width: 800px) {
    .popup-content{
        width: 80%;
        max-width: 480px;
        height: 100vw;
        max-height: 600px;
    }
    .ex{
        margin-top: 5vw;
        padding-top: 0;
        font-size: 5vw;
    }
    input{
        margin-top: 5vw ;
        width: 50vw;
        height: 15vw;
        border: #000000 solid;
        border-radius: 10px;
        font-size: 5vw;
    }
    .answerPopup{
        /* margin-top: 10vh;
        margin-bottom: 5vh; */
        font-size: 5vw;
        width: auto;
        height: 30px;
    }
    .btn-submit{
        font-size: 4vw;
        padding: 5px 10px;
        cursor: pointer;
        background-color: #000000; 
        color: white;
        font-weight: bold;
        width: 50vw;
        border-radius: 2vw;
        border: 2px solid black;
    }
    .btn-submit:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: 2px solid black;
    }
}