@media screen and (max-width: 1200px) {
    .footer {
        font-size: 1vw;
        height: 2vw;
    }
}
@media screen and (max-width: 800px) {
    .footer {
        font-size: 2vw;
        height: 3vw;
    }
}
@media screen and (max-width: 500px) {
    .footer {
        font-size: 3vw;
        height: 4.5vw;
    }
}