:root {
  --min-width: max-width(50PX);
  --font-width: 2vw;
}

@media screen and (max-width: 1200px) {
  .content-centerdisplay {
    transform: translateY(-40%);
  }

  .container-cstvideo {
    transform: translateY(-1000%);
  }

  .text-wellcom {
    margin-bottom: 3vh;
    max-height: 2vw;
    font-size: 7vw;
    font-weight: bold;
  }

  .text-detail {
    margin-bottom: 8vw;

    max-height: 1vw;
    font-size: 5vw;
  }

  .gallery {
    justify-content: center;
    padding: 0 0;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 150px);
    gap: 0.1rem 0.1rem;
    height: 1200px;
  }

  .member-Photo {
    object-fit: cover;
    width: 15vw;
    height: 25vw;
  }

  figure {
    height: 50px;
  }

  .grop-section-member {
    width: 80%;
  }

  .btn-center {
    font-size: var(--min-width);
    padding: calc((pi / 2));
  }
}