.Main {
    width: 95%;
    height: 500px;
    margin: 0 auto;
}

.section-contact {

    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    h1 {
        margin: 20px 0 20px 0;
        padding: 0;
        text-align: center;
    }

}

.contact-photo {
    object-fit: cover;
    height: auto;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.photo-details{
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
}
.inner-photo-details{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-contact {
    width: 100px;
    margin: 15px auto;
    font-weight: bold;
    padding: 5px 10px;
    border: solid black 2px;
    background-color: #000000;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.btn-contact:hover {
    border: solid black 2px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    transition: all 0.2s;
}
