@media screen and (max-width: 200px){
    .text-topic{
        font-size: 8vw;
    }
}
@media screen and (max-width: 900px){
    .text-topic{
        font-size: 8vw;
        min-height: 20px;
    }
}
@media screen and (max-width: 1000px){
    .text-topic{
        font-size: 5vw;
    }
}